{
    "swagger": "2.0",
    "info": {
        "title": "FireText API",
        "description": "FireText.co.uk API",
        "termsOfService": "https:\/\/www.firetext.co.uk\/terms",
        "version": "2"
    },
    "host": "www.firetext.co.uk",
    "basePath": "\/api",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application\/x-www-form-urlencoded"
    ],
    "produces": [
        "application\/json"
    ],
    "externalDocs": {
        "description": "FireText SMS API Guide",
        "url": "https:\/\/www.firetext.co.uk\/docs"
    },
    "securityDefinitions": {
        "apiKey": {
            "type": "apiKey",
            "name": "apiKey",
            "in": "query"
        },
        "username": {
            "type": "apiKey",
            "name": "username",
            "in": "query"
        },
        "password": {
            "type": "apiKey",
            "name": "password",
            "in": "query"
        }
    },
    "security": [
        {
            "apiKey": []
        },
        {
            "username": [],
            "password": []
        }
    ],
    "definitions": {
        "Resource_Base": {
            "type": "object"
        },
        "Response_Base": {
            "allOf": [
                {
                    "$ref": "#\/definitions\/Resource_Status"
                }
            ]
        },
        "Response_Count": {
            "allOf": [
                {
                    "$ref": "#\/definitions\/Response_Base"
                },
                {
                    "type": "object",
                    "required": [
                        "responseData"
                    ],
                    "properties": {
                        "responseData": {
                            "type": "integer"
                        }
                    }
                }
            ]
        },
        "Response_Resource": {
            "allOf": [
                {
                    "$ref": "#\/definitions\/Response_Base"
                },
                {
                    "type": "object",
                    "required": [
                        "data"
                    ],
                    "properties": {
                        "data": {
                            "$ref": "#\/definitions\/Resource_Base"
                        }
                    }
                }
            ]
        },
        "Response_ResourceList": {
            "allOf": [
                {
                    "$ref": "#\/definitions\/Response_Count"
                },
                {
                    "type": "object",
                    "required": [
                        "data"
                    ],
                    "properties": {
                        "data": {
                            "type": "array",
                            "items": {
                                "$ref": "#\/definitions\/Resource_Base"
                            }
                        }
                    }
                }
            ]
        },
        "Response_Success": {
            "allOf": [
                {
                    "$ref": "#\/definitions\/Response_Base"
                },
                {
                    "type": "object"
                }
            ]
        },
        "Resource_ClickReport": {
            "type": "object",
            "properties": {
                "mobile": {
                    "type": "string"
                },
                "firstName": {
                    "type": "string"
                },
                "lastName": {
                    "type": "string"
                },
                "clicked": {
                    "type": "string"
                },
                "userAgent": {
                    "type": "string"
                }
            }
        },
        "Response_ResourceList_ClickReport": {
            "allOf": [
                {
                    "$ref": "#\/definitions\/Response_Count"
                },
                {
                    "type": "object",
                    "required": [
                        "data"
                    ],
                    "properties": {
                        "data": {
                            "type": "array",
                            "items": {
                                "$ref": "#\/definitions\/Resource_ClickReport"
                            }
                        }
                    }
                }
            ]
        },
        "Resource_Contact": {
            "type": "object",
            "properties": {
                "firstname": {
                    "type": "string"
                },
                "lastname": {
                    "type": "string"
                },
                "mobile": {
                    "type": "string"
                },
                "customfield1": {
                    "type": "string"
                },
                "customfield2": {
                    "type": "string"
                },
                "customfield3": {
                    "type": "string"
                }
            }
        },
        "Response_ResourceList_Contact": {
            "allOf": [
                {
                    "$ref": "#\/definitions\/Response_Count"
                },
                {
                    "type": "object",
                    "required": [
                        "data"
                    ],
                    "properties": {
                        "data": {
                            "type": "array",
                            "items": {
                                "$ref": "#\/definitions\/Resource_Contact"
                            }
                        }
                    }
                }
            ]
        },
        "Resource_DeliveryReport": {
            "type": "object",
            "properties": {
                "mobile": {
                    "type": "string"
                },
                "firstName": {
                    "type": "string"
                },
                "lastName": {
                    "type": "string"
                },
                "messageSent": {
                    "type": "string"
                },
                "messageUpdate": {
                    "type": "string"
                },
                "status": {
                    "type": "string"
                }
            }
        },
        "Response_ResourceList_DeliveryReport": {
            "allOf": [
                {
                    "$ref": "#\/definitions\/Response_Count"
                },
                {
                    "type": "object",
                    "required": [
                        "data"
                    ],
                    "properties": {
                        "data": {
                            "type": "array",
                            "items": {
                                "$ref": "#\/definitions\/Resource_DeliveryReport"
                            }
                        }
                    }
                }
            ]
        },
        "Resource_Keyword": {
            "type": "object",
            "properties": {
                "keywordId": {
                    "type": "string"
                },
                "number": {
                    "type": "string"
                },
                "keyword": {
                    "type": "string"
                },
                "reference": {
                    "type": "string"
                }
            }
        },
        "Response_ResourceList_Keyword": {
            "allOf": [
                {
                    "$ref": "#\/definitions\/Response_Count"
                },
                {
                    "type": "object",
                    "required": [
                        "data"
                    ],
                    "properties": {
                        "data": {
                            "type": "array",
                            "items": {
                                "$ref": "#\/definitions\/Resource_Keyword"
                            }
                        }
                    }
                }
            ]
        },
        "Resource_ReceivedMessage": {
            "type": "object",
            "properties": {
                "messageId": {
                    "type": "string"
                },
                "sentTo": {
                    "type": "string"
                },
                "keyword": {
                    "type": "string"
                },
                "receivedFrom": {
                    "type": "string"
                },
                "receivedOn": {
                    "type": "string"
                },
                "message": {
                    "type": "string"
                }
            }
        },
        "Response_ResourceList_ReceivedMessage": {
            "allOf": [
                {
                    "$ref": "#\/definitions\/Response_Count"
                },
                {
                    "type": "object",
                    "required": [
                        "data"
                    ],
                    "properties": {
                        "data": {
                            "type": "array",
                            "items": {
                                "$ref": "#\/definitions\/Resource_ReceivedMessage"
                            }
                        }
                    }
                }
            ]
        },
        "Resource_ScheduledMessage": {
            "type": "object",
            "properties": {
                "messageId": {
                    "type": "string"
                },
                "queuedOn": {
                    "type": "string"
                },
                "sendTo": {
                    "type": "string"
                },
                "scheduledFor": {
                    "type": "string"
                },
                "recipientCount": {
                    "type": "string"
                },
                "message": {
                    "type": "string"
                }
            }
        },
        "Response_ResourceList_ScheduledMessage": {
            "allOf": [
                {
                    "$ref": "#\/definitions\/Response_Count"
                },
                {
                    "type": "object",
                    "required": [
                        "data"
                    ],
                    "properties": {
                        "data": {
                            "type": "array",
                            "items": {
                                "$ref": "#\/definitions\/Resource_ScheduledMessage"
                            }
                        }
                    }
                }
            ]
        },
        "Resource_SentMessage": {
            "type": "object",
            "properties": {
                "messageId": {
                    "type": "string"
                },
                "sentOn": {
                    "type": "string"
                },
                "sentTo": {
                    "type": "string"
                },
                "groupDescription": {
                    "type": "string"
                },
                "recipientCount": {
                    "type": "string"
                },
                "templateApiId": {
                    "type": "string"
                },
                "templateName": {
                    "type": "string"
                },
                "message": {
                    "type": "string"
                }
            }
        },
        "Response_ResourceList_SentMessage": {
            "allOf": [
                {
                    "$ref": "#\/definitions\/Response_Count"
                },
                {
                    "type": "object",
                    "required": [
                        "data"
                    ],
                    "properties": {
                        "data": {
                            "type": "array",
                            "items": {
                                "$ref": "#\/definitions\/Resource_SentMessage"
                            }
                        }
                    }
                }
            ]
        },
        "Resource_Status": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                }
            }
        },
        "Response_ResourceList_Status": {
            "allOf": [
                {
                    "$ref": "#\/definitions\/Response_Count"
                },
                {
                    "type": "object",
                    "required": [
                        "data"
                    ],
                    "properties": {
                        "data": {
                            "type": "array",
                            "items": {
                                "$ref": "#\/definitions\/Resource_Status"
                            }
                        }
                    }
                }
            ]
        },
        "Resource_Subaccount": {
            "type": "object",
            "properties": {
                "accountId": {
                    "type": "string"
                },
                "accountName": {
                    "type": "string"
                },
                "accountNotes": {
                    "type": "string"
                }
            }
        },
        "Response_ResourceList_Subaccount": {
            "allOf": [
                {
                    "$ref": "#\/definitions\/Response_Count"
                },
                {
                    "type": "object",
                    "required": [
                        "data"
                    ],
                    "properties": {
                        "data": {
                            "type": "array",
                            "items": {
                                "$ref": "#\/definitions\/Resource_Subaccount"
                            }
                        }
                    }
                }
            ]
        },
        "Resource_UnsubscribedContact": {
            "type": "object",
            "properties": {
                "addedOn": {
                    "type": "string"
                },
                "unsubscribedOn": {
                    "type": "string"
                },
                "reason": {
                    "type": "string"
                },
                "firstname": {
                    "type": "string"
                },
                "lastname": {
                    "type": "string"
                },
                "mobile": {
                    "type": "string"
                },
                "customfield1": {
                    "type": "string"
                },
                "customfield2": {
                    "type": "string"
                },
                "customfield3": {
                    "type": "string"
                }
            }
        },
        "Response_ResourceList_UnsubscribedContact": {
            "allOf": [
                {
                    "$ref": "#\/definitions\/Response_Count"
                },
                {
                    "type": "object",
                    "required": [
                        "data"
                    ],
                    "properties": {
                        "data": {
                            "type": "array",
                            "items": {
                                "$ref": "#\/definitions\/Resource_UnsubscribedContact"
                            }
                        }
                    }
                }
            ]
        }
    },
    "paths": {
        "\/addgroup\/json": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#\/definitions\/Response_Success"
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "subaccount",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "name",
                    "in": "query",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "description",
                    "in": "query",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "from",
                    "in": "query",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "api",
                    "in": "query",
                    "required": false,
                    "type": "string"
                }
            ]
        },
        "\/addsubaccount\/json": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#\/definitions\/Response_Success"
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "subaccount",
                    "in": "query",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "name",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "notes",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "messages",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "email",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "passphrase",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "key",
                    "in": "query",
                    "required": false,
                    "type": "string"
                }
            ]
        },
        "\/addtemplate\/json": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#\/definitions\/Response_Success"
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "subaccount",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "name",
                    "in": "query",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "message",
                    "in": "query",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "api",
                    "in": "query",
                    "required": false,
                    "type": "string"
                }
            ]
        },
        "\/clickreport\/json": {
            "get": {
                "responses": {
                    "200": {
                        "description": "ClickReport response",
                        "schema": {
                            "$ref": "#\/definitions\/Response_ResourceList_ClickReport"
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "message",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "subaccount",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "pp",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "page",
                    "in": "query",
                    "required": false,
                    "type": "string"
                }
            ]
        },
        "\/contactinfo\/json": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Contact response",
                        "schema": {
                            "$ref": "#\/definitions\/Response_ResourceList_Contact"
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "subaccount",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "mobile",
                    "in": "query",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "\/credit\/json": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Count response",
                        "schema": {
                            "$ref": "#\/definitions\/Response_Count"
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "subaccount",
                    "in": "query",
                    "required": false,
                    "type": "string"
                }
            ]
        },
        "\/deliveryreport\/json": {
            "get": {
                "responses": {
                    "200": {
                        "description": "DeliveryReport response",
                        "schema": {
                            "$ref": "#\/definitions\/Response_ResourceList_DeliveryReport"
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "message",
                    "in": "query",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "reference",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "subaccount",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "pp",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "page",
                    "in": "query",
                    "required": false,
                    "type": "string"
                }
            ]
        },
        "\/forward\/json": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#\/definitions\/Response_Success"
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "subaccount",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "keyword",
                    "in": "query",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "destination",
                    "in": "query",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "type",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "remove",
                    "in": "query",
                    "required": false,
                    "type": "string"
                }
            ]
        },
        "\/keywords\/json": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Keyword response",
                        "schema": {
                            "$ref": "#\/definitions\/Response_ResourceList_Keyword"
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "subaccount",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "pp",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "page",
                    "in": "query",
                    "required": false,
                    "type": "string"
                }
            ]
        },
        "\/receivedmessages\/json": {
            "get": {
                "responses": {
                    "200": {
                        "description": "ReceivedMessage response",
                        "schema": {
                            "$ref": "#\/definitions\/Response_ResourceList_ReceivedMessage"
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "subaccount",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "from",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "to",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "pp",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "page",
                    "in": "query",
                    "required": false,
                    "type": "string"
                }
            ]
        },
        "\/remove\/json": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#\/definitions\/Response_Success"
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "subaccount",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "mobile",
                    "in": "query",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "group",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "truncate",
                    "in": "query",
                    "required": false,
                    "type": "string"
                }
            ]
        },
        "\/scheduledmessages\/json": {
            "get": {
                "responses": {
                    "200": {
                        "description": "ScheduledMessage response",
                        "schema": {
                            "$ref": "#\/definitions\/Response_ResourceList_ScheduledMessage"
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "subaccount",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "pp",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "page",
                    "in": "query",
                    "required": false,
                    "type": "string"
                }
            ]
        },
        "\/sendsms\/json": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Count response",
                        "schema": {
                            "$ref": "#\/definitions\/Response_Count"
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "message",
                    "in": "query",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "from",
                    "in": "query",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "to",
                    "in": "query",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "schedule",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "reference",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "group",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "receipt",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "subaccount",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "template",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "unicode",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "interval",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "expires",
                    "in": "query",
                    "required": false,
                    "type": "string"
                }
            ]
        },
        "\/sentmessages\/json": {
            "get": {
                "responses": {
                    "200": {
                        "description": "SentMessage response",
                        "schema": {
                            "$ref": "#\/definitions\/Response_ResourceList_SentMessage"
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "subaccount",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "from",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "to",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "pp",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "page",
                    "in": "query",
                    "required": false,
                    "type": "string"
                }
            ]
        },
        "\/subaccounts\/json": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Subaccount response",
                        "schema": {
                            "$ref": "#\/definitions\/Response_ResourceList_Subaccount"
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "subaccount",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "pp",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "page",
                    "in": "query",
                    "required": false,
                    "type": "string"
                }
            ]
        },
        "\/subscribe\/json": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#\/definitions\/Response_Success"
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "subaccount",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "mobile",
                    "in": "query",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "firstname",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "lastname",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "custom1",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "custom2",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "custom3",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "group",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "update",
                    "in": "query",
                    "required": false,
                    "type": "string"
                }
            ]
        },
        "\/transfercredit\/json": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#\/definitions\/Response_Success"
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "subaccount",
                    "in": "query",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "type",
                    "in": "query",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "amount",
                    "in": "query",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "\/unschedule\/json": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#\/definitions\/Response_Success"
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "subaccount",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "message",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "reference",
                    "in": "query",
                    "required": false,
                    "type": "string"
                }
            ]
        },
        "\/unsubscribe\/json": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#\/definitions\/Response_Success"
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "subaccount",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "mobile",
                    "in": "query",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "group",
                    "in": "query",
                    "required": false,
                    "type": "string"
                }
            ]
        },
        "\/unsubscribed\/json": {
            "get": {
                "responses": {
                    "200": {
                        "description": "UnsubscribedContact response",
                        "schema": {
                            "$ref": "#\/definitions\/Response_ResourceList_UnsubscribedContact"
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "group",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "subaccount",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "from",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "to",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "pp",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "page",
                    "in": "query",
                    "required": false,
                    "type": "string"
                }
            ]
        },
        "\/uploadcontacts\/json": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#\/definitions\/Response_Success"
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "subaccount",
                    "in": "formData",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "file",
                    "in": "formData",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "md5sum",
                    "in": "formData",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "group",
                    "in": "formData",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "update",
                    "in": "formData",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "columns",
                    "in": "formData",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "postback",
                    "in": "formData",
                    "required": false,
                    "type": "string"
                }
            ]
        }
    }
}